@charset "utf-8";

.greet {
    width: 1170px;
    height: 500px;
    margin: 0 auto;
}

.greet img {
    width: 20%;
    float: left;
}

.greet h3 {
    font-size: large;
    width: 80%;
    text-align: center;
}
